body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

footer {
  opacity: 0.7;
  text-align: center;
  padding: 3rem;
  color: var(--text-color);
  font-size: 0.8rem;
  border-top: 1px solid var(--border-color);
}
