.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.hero::before {
  background-image: url("/day_landscape.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  .hero::before {
    background-image: url("/night_landscape.png");
    opacity: 0.5;
  }
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  background: linear-gradient(to bottom, #fff 40%, var(--accent-color-less-opacity));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: whitesmoke;
  max-width: 600px;
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
}
